.chat {
    background-color: rgba(229, 229, 203, 1);
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    padding: 0%;
    border: 0%;
    margin: 0%;
    width: 120%;
    border-radius: 5%;
    height: 110%;
}

.tittle{
    text-decoration:black;
    font-weight: bold;
    flex-grow: 1;

}

.messages{
    text-align: left;

    flex-grow: 7;
}

.text_chat{
    width: auto;
}


.group{ 
  position:relative; 
  margin-bottom:45px;
}

input{
  font-size:18px;
  padding:10px 10px 10px 10px;
  border-color: #d5cea3;
  border-radius: 3px;
  width: 105vh;
  margin: 0px;
  border: 0px;
  background-color: rgba(229, 229, 203, 1);
}

.list {
  margin: 10px;
}

.text_card{
  background-color: #d5cea379;
  border-radius: 10px;
  border-width:10px;
  margin: 0px;
  text-align: left;
}

.user{
  font-size: 15px;
  font-weight: bold;
}